#timer {
    display:  flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
  }

#blackClock {
  display : flex;
  font-size : 1.5em;
  color: white; 
}

#whiteClock {
  display : flex;
  font-size : 1.5em;
  color : black;
}
 #whiteSpace {
  display : flex;
  flex-direction: column;
  background: whitesmoke;
  padding:  5px;
 }
 #blackSpace {
  display : flex;
  flex-direction: column;
  background: black;
  padding:  5px;
 }
#btn{
  display:  flex;
  flex-direction : column;
  height: 100%;

}
#btnAutre{
  display: flex;
  background-color: black;
  justify-content:   center;
  border: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px solid white;
}
#title{
  display : flex;
 color : white;
 font-family: 'Baloo 2', cursive;
 text-transform: uppercase;
 background-color: black;
  justify-content: center;
  border: 5px solid white;
  letter-spacing: 5px;
  margin-top: 2%,0%, 2%, 0%;
}


#whiteAndBlack{
  display:  flex;
  flex-direction : row;
  background-color: black;
  justify-content:   center;
  border: 5px solid white;
}

#gameOver{
  color:  white;
  text-transform: uppercase;
  font-size:  1.5em;
  padding-left:  1em;
  padding-top: 1em;

}

p {
    padding : 5px;
}




button {
  margin: auto;
  width: 80%;
  height: 100%;
  padding: auto;
  font-size: 0.8em;
  font-weight: bolder;
  font-family: 'Baloo 2', cursive;
 text-transform: uppercase;
 letter-spacing: 3px;
  text-align : auto;
  border-style: hidden;
  text-align : auto;
  border-style: hidden;
  background:black;
  color: whitesmoke;
  border-radius: 10%;
  border-color: whitesmoke;
  font-size : 2em;
  
}


button:hover {
  font-size: 2em;
  
}

 button:active {
            
            color:grey;
            font-weight: bolder;
            box-shadow: inset  1px gray;
            transform: translateY(2px);
        
         }

#btnReset{
  color: #D33300;  
}


@media all and (orientation: portrait) {

 body {
    
    background-color: green;

  }

  #timer {
    display:  flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: inset 0px 0px 30px 5px #CDCAC2, 5px 0px 20px 5px white;
  }

  #title {
    height: 10%;
    font-size: 2rem;
    box-shadow: inset 0px 0px 30px 5px #CDCAC2, 5px 0px 20px 5px white;
  }
  #whiteAndBlack {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height:  100%;

  }

  #whiteSpace, #blackSpace{

    border: 10px solid whitesmoke;
    height: 100%;
    
  }



  #btnBlackPlayer, #btnWhitePlayer {
    margin: auto;
    width: 50%;
    height: 100%;
    margin-top: 5%;
    box-shadow: inset 0px 0px 30px 5px #CDCAC2, 5px 0px 20px 5px white;
  }

  #btnWhitePlayer {
    background-color: white;
    color: black;
  }


  #blackClock, #whiteClock {
    margin: auto;
    font-size: 7rem;
    font-family: 'Baloo 2', cursive;

  }

  button {
    font-size: 3rem;
    
  }

   button:active {
            background-color: whitesmoke;
            color:black;
            font-size:  3rem;
            font-weight: bolder;
            box-shadow: inset  1px gray;
            transform: translateY(2px);
        
         }
    #btnAutre {
      height: 30%;
      box-shadow: inset 0px 0px 30px 5px #CDCAC2, 5px 0px 20px 5px white;
    }
}
